# Name: OpenCV Match Template Plugin
# Description:
# Author: Elton Rexhepaj
Plugins>SME Plugin Simple , "SME Plugin ENS :: Manifold Computation", SME_PROJECTION_SRC.SME_Plugin_Simple
Plugins>SME Plugin Advanced>, "SME Plugin ENS :: Manifold Computation", SME_PROJECTION_SRC.SME_Plugin_Get_Manifold
Plugins>SME Plugin Advanced> , "SME Plugin ENS :: Manifold Application", SME_PROJECTION_SRC.SME_Plugin_Apply_Manifold
Plugins>SME Plugin Advanced> , "SME Plugin ENS :: Debug and testing", SME_PROJECTION_SRC.SME_Plugin_TEST